Source: pine64-netrunner-core-settings
Section: kde
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/netrunner-odroid/pine64-netrunner-core-settings

Package: pine64-netrunner-core-settings
Architecture: arm64
Depends: netrunner-default-settings, ${misc:Depends}
Description: netrunner-core edition settings for ODROID-C1
 Netrunner Full specific settings for the ODROID-C1
